
    <nav class="navbarTotal">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://samanthaglasson.github.io/Predicting_Flight_Delays/">Model</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="">About</a>
          </li>
      </ul>
      <ul class="navbar-nav2"></ul>
      <div class="navbar-nav3">
          <img class="TPLogo" alt="talentpathLogo" src="../static/TPLogo.png"/>
      </div>
  </nav>
